
__pycache__/app.cpython-39.pyc
.idea/misc.xml
.idea/Project_PL.iml
.idea/workspace.xml
__pycache__/app.cpython-39.pyc
__pycache__/app.cpython-39.pyc
__pycache__/app.cpython-39.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Project_PL.iml
.idea/Project_PL.iml
