.padding_container {
    background-color: white;
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat";
    font-size: large;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    width: 70%;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}

p {
    display: inline;
    font-family: "Montserrat";
}

/*Team-Intro*/
#team-intro {
    background-color: #37003c;
}

/* Navigation-Bar */
.navbar {
    background-color: #37003c;
    height: 9%;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    width: 15%;
    height: 90%;
    padding: 0 18px;
}

.nav-icon {
    height: 100%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Navigation-Bar ^ */

.team-intro {
    padding: 12% 15% 5% 15%;
}

.logo-box {
    display: inline;
    text-align: center;
}

.teamlogo {
    border-radius: 100%;
    width: 100%;
}


.intro-box {
    display: inline;
    text-align: center;
}

.teamname {
    color: white;
    text-align: left;
    width: 100%;
}

.button-list {
    display: inline;
    position: relative;
    right: 20%;
}

.button-box {
    display: inline;
}

.page-link {
    display: inline;
    position: relative;
    padding: 0% 2%;
    border-radius: 100%;
    text-decoration: none;
}

/*Team-Intro ^ */

/*Team-Game*/
#team-game {

}

.game {
    display: inline;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

.game-team {
    text-align: center;
}

.game-plan-date {

}

/*Team-Game ^ */

/* Team-Tabbar */
#team-tabbar {

}

.btn-group {
    margin: 10px;
}

/* Team-Tabbar ^ */

/*Team-News*/
#team-news {
    background-color: #37003c;
    color: beige;
    height: 4500px;
    display: none;
}

.team-news {
    color: black;
    margin: 0 auto;
    padding: 5% 10%;

}

/*Team-News ^ */

/*Team-Notice*/
#team-notice {
    background-color: #37003c;
    color: beige;
    height: 4500px;

}

.mypost {
    color: black;
    margin: 0 auto;
    padding: 5% 15%;
}

#article-list {
    padding: 5% 15%;
}

#comment-list {
    padding: 3%;
}

.article {
    color: black;
}

.btn-notice {
    margin-top: 10px;
}

/*Team-Notice ^*/

/* Media */

@media (max-width: 600px) {
    .padding_container {
        padding: 0;
    }

    .team-intro {
        padding: 25%;
    }

    .teamlogo {
        border-radius: 100%;
        width: 80%;
    }

    .intro-box {
        display: inline;
        text-align: center;
        padding-top: 10%;
    }

    .teamname {
        color: white;
        text-align: center;
        font-size: 2rem;
        margin: auto;
        width: 100%;

    }

    .button-list {
        display: inline;
        position: static;

    }
}