<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>Log In | 금쪽같은 내 시티</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="금쪽같은 내 시티"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&family=Ubuntu:wght@300&display=swap"
          rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
           crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        body {
            background-color: RGBA(61, 25, 91, 0.5);
            min-height: 100vh;
        }


        .section {
            font-family: 'Hahmlet', serif;
            font-weight: bold;
            margin: auto;
        }

        .title {
            font-weight: 800;
            font-size: 5rem;
            font-family: 'Hahmlet', serif;
        }

        .subtitle {
            font-size: 2rem;
            font-family: 'Ubuntu', sans-serif;

        }

        .is-sparta {
            color: #fff !important;
        }

        .team {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

    </style>
    <script>

    </script>

</head>
<body>

<section class="hero" style="background-color: #3d195b">
    <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
        <h1 class="title is-sparta">금쪽같은 내 시티</h1>
        <h3 class="subtitle is-sparta">Premier League</h3>
    </div>
</section>
<section class="section is-sparta has-text-centered">
    <h1>당신의 팀을 선택하세요!!!</h1>
</section>

<div class="team">
    <figure class="image is-128x128">
      <img class="is-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHHOOsRQL9ExC_cM00qFs-Gme8GzJkrMDZOd8376pPZA&s">
    </figure>
    <figure class="image is-128x128">
      <img class="is-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnTyI1mypY0gcruH-tNPs4Lxvp4Q0eG_ikuKhzkoQ&usqp=CAE&s">
    </figure>
    <figure class="image is-128x128">
      <img class="is-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm8pMCcwUJ26ndMQP1tTNKmLef5REgsrOzkrh3Ipg&usqp=CAE&s">
    </figure>
    <figure class="image is-128x128">
      <img class="is-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0652OofgtgoPZOWiYK7-_Q8xC6qbIx6trexRViFg&usqp=CAE&s">
    </figure>
    <figure class="image is-128x128">
      <img class="is-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRaQcnkrej0Sdu16gvFKG9uYg6UniAZN3ih6B1h-M&usqp=CAE&s">
    </figure>
    <figure class="image is-128x128">
      <img class="is-rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ2EQxR7-oIzThnCRthI_qmaQHKD0B3Iz7oAAsuwc&usqp=CAE&s">
    </figure>

</div>

</body>
</html>