<div class="row team-intro">
    <div class="col-sm-4 logo-box">
        <img class="teamlogo" src="{{teamlogo}}">
    </div>
    <div class="col-sm-8 intro-box">
        <h1 class="teamname">{{teamname|upper}}</h1>
        <div>
            <div class="button-box">
                <button type="button" class="page-link" disabled>
                    <img class="page-link" id="facebook"
                         src="/static/facebook.png" alt="facebook link">
                </button>
            </div>
            <div class="button-box">
                <button type="button" class="page-link" disabled>
                    <img class="page-link" id="instagram"
                         src="/static/instagram.png" alt="instagram link">
                </button>
            </div>
            <div class="button-box">
                <button type="button" class="page-link" disabled>
                    <img class="page-link" id="official"
                         src="/static/official.png" alt="official link">
                </button>
            </div>
            <div class="button-box">
                <button type="button" class="page-link" disabled>
                    <img class="page-link" id="wiki" src="/static/wiki.png"
                         alt="wiki link"></button>
            </div>
        </div>
    </div>
</div>