<div class="mypost">
    <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="article"
                          style="height: 100px"></textarea>
        <label for="article">게시글 쓰기</label>
    </div>
    <div style="display: inline; border-top:5px;">
        <button onclick="post_article()" type="button" class="btn-notice col-12 mx-auto btn btn-secondary">게시글
            남기기
        </button>
    </div>
</div>
<div class="mybox row" id="article-list">

</div>