<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">

    <title>{{ teamtitle | upper }} Team Page</title>

    {% include 'head.html' %}

    {% include 'head_script.html' %}

</head>


<body>
<!-- Nav Bar -->
{% include 'navbar.html' %}
<div class="padding_container">


    <section id="team-intro">
        <!-- header (team_logo,team_name atc...) -->
        {% include 'header.html' %}
    </section>

    <section id="team-game">
        <!-- game (game_result,game_plan atc...) -->
        {% include 'game.html' %}
    </section>
    <section id="team-tabbar">

        {% include 'tabbar.html' %}
    </section>

    <section id="team-news">
        <div class="team-news row">
            <div class="col-md-6" id="news-list-1">


            </div>
            <div class="col-md-6" id="news-list-2">

            </div>

        </div>


        {% include 'news.html' %}
    </section>

    <section id="team-notice">

        {% include 'notice.html' %}
    </section>
</div>


</body>
</html>