<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">

    <title>{{ teamtitle | upper }} Team Page</title>

    {% include 'head.html' %}


    <script>
        {% include 'head_script.html' %}
    </script>
</head>


<body>
<!-- Nav Bar -->
{% include 'navbar.html' %}
<div class="padding_container">


    <section id="team-intro">
        <!-- header (team_logo,team_name atc...) -->
        {% include 'header.html' %}
    </section>

    <section id="team-game">
        <!-- game (game_result,game_plan atc...) -->
        {% include 'game.html' %}
    </section>
    <section id="team-tabbar">

        {% include 'tabbar.html' %}
    </section>

    <section id="team-news">

        <div class="team-news row" id="news-list">
            <div class="col-md-6">
                <div class="card mb-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <br>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>


        {% include 'news.html' %}
    </section>

    <section id="team-notice">

        {% include 'notice.html' %}
    </section>
</div>


</body>
</html>